#civic-nli-insert {
  width: 100%;
  height: fit-content;
  max-height: 500px;
  overflow-y: scroll;
}

#civic-nli-insert h3 {
  font-size: 2rem;
}

#civic-nli-insert li {
  display: inline-block;
  margin-bottom: 0.5em;
  margin-top: 0;
}

#civic-nli-insert blockquote {
  border-left: 2px solid #ccc;
  margin-left: 3rem;
  padding: 0.5em 10px;
  padding-bottom: 0;
  font-size: small;
  max-width: 700px;
  margin-bottom: 0;
}

#civic-nli-insert blockquote span.connector {
  color: #ccc;
}

#civic-nli-insert blockquote:before {
  color: #ccc;
  /* content: '\201C'; */
  font-family: serif;
  font-size: 4em;
  line-height: 0.1rem;
  margin-right: 0.25rem;
  vertical-align: -2rem;
}

#civic-nli-insert blockquote p {
  display: inline;
}

#civic-nli-insert .blockquote-author {
  color: #8e8e8e;
  font-size: x-small;
  text-align: right;
}
#civic-nli-insert .annotation__header {
  display: flex;
}

#civic-nli-insert .annotation__source {
  font-size: x-small;
  float: right;
  margin-top: 5px;
}

#civic-nli-insert .tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
}

/* Tooltip text */
#civic-nli-insert .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
#civic-nli-insert .tooltip:hover .tooltiptext {
  visibility: visible;
}

#civic-nli-insert input[type='checkbox'] {
  display: none;
}
#civic-nli-insert .wrap-collabsible {
  margin: 1.2rem 0;
}
#civic-nli-insert .lbl-toggle {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 1rem;
  color: #8e8e8e;
  /* background: rgba(0, 0, 0, 0.2); */
  cursor: pointer;
  border-radius: 7px;
  transition: all 0.25s ease-out;
}
#civic-nli-insert .lbl-toggle:hover {
  color: #fff;
}
#civic-nli-insert .lbl-toggle::before {
  content: ' ';
  display: inline-block;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: 0.7rem;
  transform: translateY(-2px);
  transition: transform 0.2s ease-out;
}
#civic-nli-insert .toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
#civic-nli-insert .collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.25s ease-in-out;
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1);
}
#civic-nli-insert .toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}
#civic-nli-insert .toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#civic-nli-insert .collapsible-content .content-inner {
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.45);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px; */

  padding: 0.5rem 1rem;
}
#civic-nli-insert .collapsible-content > * {
  margin-bottom: 0;
}
